{%extends 'base.html'%}
{% load bootstrap4 %}
{% load mathfilters %}
{% load static %}
{% block content %}
{{block.super}}
<head>
    <link rel="stylesheet" href="../../static/css/custom.css">
    </head>
    <br>

<div class="container">
    <div class="card" type='button'>
        <div class="card-header" id='formButton'>
        <i class="fa fa-plus-circle"  style="font-size:19px"></i> <strong> What type of projects can I post? </strong>
        </div>
        <div class="card-body" id='form1' style="display: none;">
            <li>Need IT & Software specialists?</i></li>
            <li>Need marketing referral agents & services?</li>
            <li>Need customer service associates?</li>
            <li>Need Academic writers?</li>
            <li>Need specialists in any field of work?</li> <br>
           <b><h5 style="text-align: center;">Anything You Need We Got You <i class="fa fa-check-circle-o" style="font-size:36px;color:lawngreen"></i></h5></b>
        </div>
    </div>
    <br>
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>!</strong> On pressing the purchase button a pop up will appear on your phone prompting you to accept and make the payment.
      </div>  
    
    <div class="row">
     
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
  
    <div class="card">
       
        <div class="card-body">
            You can post a <strong> top featured </strong> project on EclidWorkers,with these features: <br> <br>
               1. The project appears on <strong> top pages </strong> in the freelancers  dashboard.<br>
               2. Receive offers from <strong> top candidates </strong> with good project completion rates.<br>
               3. You can reach out to candidates with the <strong>best offers </strong> to do your project. <br> 
               4. <strong>Top notch project development & execution.</strong> <br>
               
              
               <div class="row">
                <div class="col text-center">
              <a href="{% url 'pay-post-job'  %}"> I want to post a top featured project for {{post_job_amount}} KES.</a>
              <p class="text-secondary">**Total charge 1345 KES(1300 KES + process fee)</p>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }} text-success">{{ message }}</p>
      {% endfor %}
    </ul>
  {% endif %}
    <h4>Tell us about your project:</h4>
<form  method="POST" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form form%}

{%if post_job is None or post_job.job_post_paid == False%}
<a href="#" class="btndis btn btn-sm disabled" id="disbutton"> Post Your project <i class="fa fa-ban"></i></a>
{%endif%}
{%if post_job.job_post_paid == True%}
<button class="btndis2 btn btn-sm" type="submit"> Post Your project</button>
{%endif%}

</form>
<br>
</div>
    </div>
</div>


<script>
    $("#formButton").click(function(){
           $("#form1").toggle();
       });
</script>

{% endblock %}