{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}

<head>
    <link rel="stylesheet" href="../../static/css/custom.css">
    </head>
<br><br>
<div class="container">
    <div class="card">
        <div class="card-body"> 
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>!</strong> Click to confirm the payment if you have received your confirmation message from Mpesa.
              </div>      
             <a href="{% url 'verify-job-transaction' %}" class="btn btn-sm btn-info" style="background-color: #13B5FA;">Confirm payment</a>
       
             

            </div>

    </div>
    <br>
    {% if messages %}
    
             <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
    <ul class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    </ul>
</div>
  {% endif %}
</div>


{% endblock %}