{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://kit.fontawesome.com/6a129e1dba.js"></script> -->
    {%if title%}

    <title>{{title}}</title>
    {%endif%}
    {% block styles %}
    {% bootstrap_css %}
    {% endblock %}

</head>

<body>
    {% block content %} {%endblock%}
    {% block scripts %}
 
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>