.loginbtn2{
    background-color:#13B5FA;
    border: none;
    color: white;
    padding: 4px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
.loginbtn3{
    background-color:#13B5FA;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 16px;
  }
  