{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<head>
  <link rel="stylesheet" href="../../static/css/custom.css">
  <link rel="stylesheet" href="../../static/css/reg.css">
  </head>
<br><br>

{% if all_business_user_count == 0%}

<div class="container">
  <br><br>
<h4 style="text-align: center;">You have not promoted any businesses yet.</h4>
<h5 style="text-align: center;">Promoted Businesses that are valid will appear here. <br> <br>

  <a href="{% url 'digital-media'  %}" style="text-align: center;">Promote your business and build up customers.</a>
</h5>

</div>
{%else%}
<div class="container">
<a href="{% url 'digital-media'  %}" class="btndis btn-xs btn-info float-right loginbtn3">Promote a business</a><br><br>
</div>
{% for business in all_business_user %}

<div class="container">
 
  <div class="card mb-3">
      <div class="card-body">
          <div class="card-text">
           <b><p>{{business.business_name}}</p></b>
            {{business.business_description}}<br><br>
           <strong class="text-secondary">Our charges: {{business.business_charge}} KES</strong> <br>
            <strong class="text-secondary float-right">Valid till {{business.expiry_date|date:'Y-m-d'}}  </strong>
           <a href="{{business.business_link}}" target="_blank">View our business.</a>
              {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <p class="{{ message.tags }} text-danger">{{ message }}</p>
              {% endfor %}
            </ul>
          {% endif %}
           
          </div>
       

    
      <a href="#" id="formButton" class="btndis btn-xs btn-info float-right loginbtn3">Renew Validity</a>
      <br><br><br><br>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card" id="form1" style="display: none;">
         
         <div class="card-body" style="color: black;">
          <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>!</strong> Kindly use the phone number filled in your profile to make this payment.
            </div>
              <ol>
         <li> Go to M-PESA on your phone</li>
         <li> Select Buy Goods option</li>
          <li>Enter Buy Goods till no xxxx </li>
          <li>Enter the Amount <strong> {{ business_renew_amount}} </strong></li>
          <li>Enter your M-PESA PIN and Send</li>
          <li>You will receive your confirmation SMS from M-PESA</li>
          <li>Click to confirm the payment.</li>
              </ol> 
              <br>
              <a href="{% url 'renew-business-transaction' business.id %}" class="btn btn-info btn-sm" style="background-color: #13B5FA;">Confirm Payment</a>
             

    
  </div>
  
  </div>
      </div>
           
          </div>
         
         
      </div>
   
   
  </div>

  
{% endfor %}

{%endif%}
<script>
 
  $("#formButton").click(function(){
         $("#form1").toggle();
     });

  </script>

{% endblock %}