{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<head>
  <link rel="stylesheet" href="../../static/css/custom.css">
  <link rel="stylesheet" href="../../static/css/reg.css">
  </head>
<br><br>

{% if all_business_user_count == 0%}

<div class="container">
  <br><br>
<h4 style="text-align: center;">You have not promoted any businesses yet.</h4>
<h5 style="text-align: center;">Promoted Businesses that are valid will appear here. <br> <br>

  <a href="{% url 'digital-media'  %}" style="text-align: center;">Post your business and build up your resources.</a>
</h5>

</div>
{%else%}
<div class="container">
<a href="{% url 'digital-media'  %}" class="btndis btn-xs btn-info float-right loginbtn3"><i class="fa fa-plus"></i> Post a business</a><br><br>
{% if messages %}
    
             <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
    <ul class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    </ul>
</div>
  {% endif %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>!</strong> On pressing the renew button a pop up will appear on your phone prompting you to accept and make the payment. **Total charge 535 KES(500 KES + process fee)
  </div> 
</div>
<div class="container">
{% for business in all_business_user %}
{% if forloop.counter0|divisibleby:3 %}
<div class="row">
  {%  endif %}
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
  <div class="card mb-3">
      <div class="card-body">
        <img  src="{{business.business_product.url}}" class="img-fluid" style="width: 405px;height: 269px;">
          <div class="card-text">
            
           <b><p>{{business.business_name}}</p></b>
           
           <strong class="text-secondary">Our charges: {{business.business_charge}} KES</strong> <br> <br>
           <strong id="formButton{{ forloop.counter }}" style="font-size: 17px;"><i class="fa fa-server" type="button"  ></i> View business details</strong> <br>
           <section id="form{{ forloop.counter }}" style="display: none;">
           
            {{business.business_description}}<br>
            <strong class="text-secondary">
              <i class="fa fa-phone"></i> +{{business.profile.phonenumber}} <br>
          </strong>
          </section>
        
            <strong class="text-secondary float-right">Valid till {{business.expiry_date|date:'Y-m-d'}}  </strong>
           <a href="{{business.business_link}}" target="_blank">View more products.</a>
             
         
          <a href="{% url 'rave-business-renewal' business.id %}" class="btndis btn-xs btn-info float-right loginbtn3">Renew Validity</a>
       
          </div>
       

    
     
      <br><br><br><br>
    
           
          </div>
         
         
      </div>
    </div>
    {%  if forloop.counter|divisibleby:3 or forloop.last %}</div>  {%  endif %}
    <script>
 
      $("#formButton{{ forloop.counter }}").click(function(){
             $("#form{{ forloop.counter }}").toggle();
         });
      </script>
{% endfor %}
</div>

{%endif%}

{% endblock %}