{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<head>
  <link rel="stylesheet" href="../../static/css/custom.css">
  <link rel="stylesheet" href="../../static/css/reg.css">
  </head>
  <br>
 
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>!</strong>  Jobs displayed have not been completed yet and the project owners are still open.
  </div>
<div class="container">
  <div class="btn-group float-right" >
   
    <a href="#" class="btn btn-info btn-sm" style="background-color: #13B5FA;">Sort by:</a>
    <a href="{% url 'job-page' %}" class="btn btn-info btn-sm" style="background-color: #13B5FA;">Most Recent</a>
    <!-- <a href="{% url 'job-sort'  %}" class="btn btn-info btn-sm" style="background-color: #13B5FA;">Highest paying</a> -->
  </div>
<br><br>
</div>
{% for job in available_jobs %}

<div class="container">
 
  <div class="card mb-3">
      <div class="card-body">
        <b> <p class="card-text">{{job.job_title}}</p> </b>
       
         <b>  <p class="card-text float-right text-secondary">{{job.lower_limit}}.0 - {{job.upper_limit}}.0 KES</p></b>
 
          {% if job.job_category == 1  %}
           <b><p class="card-text text-secondary">IT & Software Development</p></b>
          {% endif %}
          {% if job.job_category == 2  %}
          <b><p class="card-text text-secondary">Product & Services</p></b>
         {% endif %}
         {% if job.job_category == 3  %}
         <b><p class="card-text text-secondary">Marketing Strategy & Research</p></b>
        {% endif %}
        {% if job.job_category == 4  %}
        <b><p class="card-text text-secondary">Writing & Transcription</p></b>
       {% endif %}
       {% if job.job_category == 5  %}
       <b><p class="card-text text-secondary">Business & Customer Service</p></b>
      {% endif %}
      {% if job.job_category == 6  %}
      <b><p class="card-text text-secondary">Agents & Referral Services</p></b>
     {% endif %}
     {% if job.job_category == 7  %}
     <b><p class="card-text text-secondary">Data Entry</p></b>
    {% endif %}
    {% if job.job_category == 8  %}
    <b><p class="card-text text-secondary">Other Category</p></b>
   {% endif %}

      <a href="{% url 'bid-job' job.id %}"  class="btndis btn-xs btn-info float-right loginbtn3">View Job</a>
           
          </div>
         
         
      </div>
   
   
  </div>
  
{% endfor %}
<div class="container">
<div class="pagination">
  <b>
  <span class="step-links">
      {% if available_jobs.has_previous %}
          <a href="?page={{ available_jobs.previous_page_number }}">&laquo; Previous</a>
      {% endif %}

     

      {% if available_jobs.has_next %}
          
          <a href="?page={{ available_jobs.next_page_number }}">Next &raquo;</a>
      {% endif %}
  </span>
  </b>
</div>
</div>
{% endblock %}