{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<head>
  <link rel="stylesheet" href="../../static/css/custom.css">
  <link rel="stylesheet" href="../../static/css/reg.css">
  </head>
<br><br>
{% if freelance_skill_count == 0 %}
<div class="container">
  <br><br>
<h4 style="text-align: center;">You have not promoted any skills yet.</h4>
<h5 style="text-align: center;">Promoted skills that are valid will appear here. <br> <br>

  <a href="{% url 'freelance-skill-post'  %}" style="text-align: center;">Promote your skill and get connected with potential clients.</a>
</h5>

</div>
{%else%}
<div class="container">
<a href="{% url 'freelance-skill-post'  %}" class="btndis btn-xs btn-info float-right loginbtn3"><i class="fa fa-plus"></i> Promote a new skill</a><br><br>
{% if messages %}
    
             <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
    <ul class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    </ul>
</div>
  {% endif %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>!</strong> On pressing the renew button a pop up will appear on your phone prompting you to accept and make the payment. **Total charge 535 KES(500 KES + process fee)
  </div> 
</div>

{% for skill in freelance_skill %}

<div class="container">
 
  <div class="card mb-3">
      <div class="card-body">
        {% if skill.freelance_skill == 1 %}
        <b> <p class="card-text text-secondary">Design & Creatives</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 2 %}
        <b> <p class="card-text text-secondary">Marketing</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 3 %}
        <b> <p class="card-text text-secondary">Websites & IT</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 4 %}
        <b> <p class="card-text text-secondary">Accounting</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 5 %}
        <b> <p class="card-text text-secondary">Legal</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 6 %}
        <b> <p class="card-text text-secondary">Business Consulting</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 7 %}
        <b> <p class="card-text text-secondary">Tutoring & Courses</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 8 %}
        <b> <p class="card-text text-secondary">Trading & Analysis</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 9 %}
        <b> <p class="card-text text-secondary">Event & Decoration</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 10 %}
        <b> <p class="card-text text-secondary">Personal Training</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 11 %}
        <b> <p class="card-text text-secondary">Writing & Transcription</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 12 %}
        <b> <p class="card-text text-secondary">Photography</p> </b>
        {%endif%}
        {% if skill.freelance_skill == 13 %}
        <b> <p class="card-text text-secondary">Data Entry Expert</p> </b>
        {%endif%}

       <strong>{{skill.freelance_description}}</strong><br>
         <strong class="text-secondary">{{skill.freelance_charge}} KES for my services.</strong>
         <strong class="float-right text-secondary">Valid till {{skill.expiry_date|date:'Y-m-d'}}</strong><br>

        <a href="{{skill.freelance_link}}" target="_blank">View my work portfolio</a>

        

      <a href="{% url 'rave-skill-renewal' skill.id %}" class="btndis btn-xs btn-info float-right loginbtn3">Renew Validity</a>
        <br><br><br><br>

          </div>
         
         
      </div>
   
   
  </div>
  
  

{% endfor %}

{%endif%}

{% endblock %}