{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<head>
    <link rel="stylesheet" href="../../static/css/custom.css">
    </head>
    <br>
<div class="container">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <p class="{{ message.tags }} text-success">{{ message }}</p>
      {% endfor %}
    </ul>
  {% endif %}
 <b><u>   <h5>Choose a Pricing:</h5></u></b>
 <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card mb-3">
   <b> <div class="card-header">KES {{low_amount}}0 </div></b>
    <div class="card-body text-secondary">Send offer on a single job.<br>
        You get access to jobs posted. <br>
        You can submit offers on recent jobs. <br>
        This for anyone that just wants to try things out for the first time.
       
    </div>
    <div class="card-footer">
        <a href="{% url 'token-low'  %}" class="btn btn-info btn-sm float-right" style="background-color: #13B5FA;">Buy Eclid token</a>
    </div>
  </div>
  <div class="card mb-3">
    <b> <div class="card-header">KES {{medium_amount}}0 - 12 Eclid tokens</div></b>
     <div class="card-body text-secondary"><strong style="color: black;">Send Offers on 12 jobs.</strong><br>
         You get access to jobs posted. <br>
         You can submit offers on recent jobs. <br>
         You can submit offers on <strong>high paying jobs.</strong>
     </div>
     <div class="card-footer">
         <a href="{% url 'token-medium'  %}" class="btn btn-info btn-sm float-right" style="background-color: #13B5FA;">Buy 12 Eclid tokens</a>
     </div>
   </div>
   <div class="card mb-3">
    <b> <div class="card-header">KES {{high_amount}}0 - 25 Eclid tokens</div></b>
     <div class="card-body text-secondary"><strong style="color: black;">Send offers on 25 jobs.</strong><br>
        You get access to jobs posted. <br>
        You can submit offers on <strong> high paying jobs.</strong><br>
        You can submit offers on the <strong> top featured jobs.</strong>
     </div>
     <div class="card-footer">
         <a href="{% url 'token-high'  %}" class="btn btn-info btn-sm float-right" style="background-color: #13B5FA;">Buy 25 Eclid tokens</a>
     </div>
   </div>
</div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6"></div>
</div>
</div>




{% endblock %}