{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<head>
    <link rel="stylesheet" href="../../static/css/custom.css">
    </head>
    <br>
<div class="container">
    <br>
    <div class="row">
      
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card">
       
       <div class="card-body" style="color: black;">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>!</strong> Kindly use the phone number filled out during registration to make this payment.
          </div>
       
            <ol>
       <li> Go to M-PESA on your phone</li>
       <li> Select Buy Goods option</li>
        <li>Enter Buy Goods till no xxxx </li>
        <li>Enter the Amount <strong> {{low_amount}} </strong></li>
        <li>Enter your M-PESA PIN and Send</li>
        <li>You will receive your confirmation SMS from M-PESA</li>
        <li>Click to confirm the payment.</li>
            </ol> 
        
        <p> Using a different phone number to make this payment?
            <a href="#"  id="formButton">Change phone number</a>
          </p>
            <br>
        <form  method="POST" enctype="multipart/form-data" id="form1" style="display: none;">
            {% csrf_token %}
            {% bootstrap_form form%}
            <button class="btndis2 btn btn-sm" type="submit"> Change</button>

    </form>
    </div>
</div>
        
    <br>
    <a href="{% url 'validate-transaction'  %}" class="btn btn-info" style="background-color: #13B5FA;">Confirm Payment</a>
    
    </div>
  
</div>
</div>

<script>
 
    $("#formButton").click(function(){
           $("#form1").toggle();
       });
    </script>
{% endblock %}