{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}

<head>
    <link rel="stylesheet" href="../../static/css/custom.css">
    </head>
<br>
<div class="container">
    <div class="card" type='button'>
        <div class="card-header" id='formButton'>
        <i class="fa fa-plus-circle"  style="font-size:19px"></i> <strong>Can I use my own domain name,an existing site or app?</strong>
        </div>
        <div class="card-body" id='form1' style="display: none;">
            
            <div class="card-text">
               <strong> Absolutely. </strong>You can post a link to any existing site,app or online store as long as you have the right permissions to use this link.
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card">
                <div class="card-body">
                    You can promote your online <strong>business</strong> and get access to these features: <br>
                    1. Your post features on the top pages on Eclid workers. <br>
                    2. Your post can run within our site without expiry<strong>(No recurring charges)</strong> <br>
                    3. <strong>Top talent</strong> to do your job. <br>
                    4.  <strong>All tools you need to sell more online, mobile and at retail.</strong> <br>
                    5. <strong>No transaction fee.</strong> <br>
                    
                    <div class="row">
                        <div class="col text-center">
                      <a href="{% url 'digital-job-purchase'  %}">Promote my business for {{digital_job_amount}} KES.</a>
                      <br>
                      <p class="text-secondary">By clicking 'Promote my business for {{digital_job_amount}} KES' and making the payment,you agree that you have the right permissions to use your online link.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <h4>Tell us about your business:</h4>
<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form%}
    {%if post_job is None or post_job.job_post_paid == False%}
    <a href="#" class="btndis btn btn-sm disabled" id="disbutton"> Promote business <i class="fa fa-ban"></i></a>
    {%endif%}
    {%if post_job.job_post_paid == True%}
    <button class="btndis2 btn btn-sm" type="submit">Promote business</button>
    {%endif%}
    
    </form>
</div>
</div>
</div>
    
<script>
    $("#formButton").click(function(){
           $("#form1").toggle();
       });
</script>

{% endblock %}