

<head>
    <link rel="stylesheet" href="../../static/css/footer.css">
</head> 

<footer class="footer_part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                   
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              
                   <p style="color: white;">#</p>
                   <p style="color: white;">#</p>
                   <p style="color: white;">#</p>
                   
                    <a href="{% url 'terms-conditions' %}" class="text-secondary">Terms and conditions</a>
                    <p class="text-secondary">How it works</p>
                    <p class="text-secondary">support@eclIdworker.com</p>
                
            </div>
            <div class="col-sm-6 col-lg-3">
                
            </div>
            <div class="col-sm-6 col-lg-3">
                <img src="../../static/img/elcidthelogo.png" alt="logo" >    
            </div>
            
        </div>
        <hr>
       
        <div class="row">
            <div class="col-lg-8">
                <div class="copyright_text">
                
                    <P>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
</P>
                </div>
            </div>
        
        </div>
    </div>
</footer>