{%extends 'base2.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}

<head>
    <link rel="stylesheet" href="../../static/css/banner.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>


<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Eclid solutions for <br>
                            <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[ "digital freelance work.", "project owners.","small businesses."]'></span>
                        </h1>
                        <p>EclidWorkers offers solutions for project owners to work with freelancers,freelancers to promote their skills to prospective project owners and small businesses to promote services to prospective clients.</p>
                        <a href="{% url 'signup' %}" class="btn btn-lg btn-banner1 ">Get Started </a>
                        <a href="{% url 'login' %}" class="btn btn-light btn-lg btn-banner2">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner_img d-none d-lg-block">
                    <img src="../../static/img/banner_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<div class="container">
    <div class="row">

        <div class="col text-center">
    <h1>Who can use Eclid?</h1>
    <br>
        </div>
    </div>
    <div class="row">

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">

<div class="card mb-3">
     <div class="card-body">
        <div class="row">

            <div class="col text-center">
      <h2>Project Owners <i class="fa fa-desktop" style="font-size:35px;color:#13B5FA"></i></h2>
      <hr>
      Accelerated project development <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Get connected with top freelancers <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Post your project <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Get offers from top freelancers <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Start project development <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Manage the end to end development of your project <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      It doesn't get any easier than this for project owners <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      <br><br><br><br><br>
      <a href="{% url 'signup' %}" class="btn btn-info btn-lg btn-banner2">Get Started</a>
      
            </div>
        </div>
         
     </div>
 </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <h2>Freelancers <i class="fa fa-edit" style="font-size:35px;color:#13B5FA"></i></h2>
                    <hr>
                    Work on projects from project owners <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Work on websites & apps <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Work on data entry jobs <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Work on marketing jobs <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Work on writing and transcription jobs <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Make an offer <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Get connected with the project owner <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                   Start working on the project <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Promote your skills to prospective clients <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    
                    <a href="{% url 'signup' %}" class="btn btn-info btn-lg btn-banner2">Get Started</a>
                </div>
            </div>

            
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <div class="card mb-3">
        <div class="card-body">
           <div class="row">
   
               <div class="col text-center">
         <h2>Small Businesses<i class="fa fa-cart-plus" style="font-size:35px;color:#13B5FA"></i></h2>
         <hr>
              
           How is our platform different? <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           You don't have to create a new online store for your business <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Add your social media page <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Add your existing website <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Add your existing online store <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           
           Drive word-of-mouth traffic with quality engagement. <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Let us do the heavy lifting for you <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           It doesn't get any easier than this for small businesses <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
          
           <a href="{% url 'signup' %}" class="btn btn-info btn-lg btn-banner2">Get Started</a>
               
   
       </div>
   </div>
   
        </div>
    </div>
   
   </div>
</div>
<div id="accordion">

    <div class="card">
      <div class="card-header">
          <b>
        <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: grey;">
         For small businesses, True, native ads that get results
        </a>
    </b>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body" style="font-size: medium;">
            Over 1.8 trillion ads remain unseen every year - don't pay for something that doesn't get results. We offer only highly effective native advertising with 100% viewability.
        </div>
      </div>
    </div>
  
    <div class="card">
        <div class="card-header">
            <b>
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color: grey;">
           Why  old-fashioned banners and posters don't work?
          </a>
      </b>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            EclidWorkers offers an innovative approach to advertising that actually gets results.
          </div>
        </div>
      </div>
    
  
  </div>
</div>
<br><br>
<section class="cta_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="cta_text text-center">
                    <br><br><br><br><br><br>
                    <h2>Eclid solutions that work for Small Businesses,Project Owners and Freelancers.</h2>
                    <p>For Project Owners,Freelancers and Small businesses,it doesn't get any easier than this.
                        <br>
                        Get started with us and let us do all the heavy lifting for you.
                    </p>
                        <div class="row">
                            <div class="col text-center">
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-banner1">Get Started </a>
                    <a href="{% url 'login' %}" class="btn btn-light btn-lg btn-banner2">Login</a>
                            </div>
                        </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</section>
<br>


<script src="../../static/js/contact.js"></script>
{% endblock %}