{%extends 'base2.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}

<head>
    <link rel="stylesheet" href="../../static/css/banner.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>


<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Working solution for <br>
                            <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[ "digital freelance work.", "project owners.","small businesses."]'></span>
                        </h1>
                        <p>EclidWorkers offers solutions for project owners to work with top freelancers,freelancers to promote skills to prospective employers and small businesses to promote services to prospective clients.</p>
                        <a href="{% url 'signup' %}" class="btn btn-lg btn-banner1 ">Get Started </a>
                        <a href="{% url 'login' %}" class="btn btn-light btn-lg btn-banner2">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner_img d-none d-lg-block">
                    <img src="../../static/img/banner_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<div class="container">
    <div class="row">

        <div class="col text-center">
    <h1>Who can use EclidWorkers?</h1>
    <br>
        </div>
    </div>
    <div class="row">

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">

<div class="card mb-3" style="max-width: 100%;border-radius: 20px;">
     <div class="card-body">
        <div class="row">

            <div class="col text-center">
      <h2>Project Owners <i class="fa fa-desktop" style="font-size:35px;color:#13B5FA"></i></h2>
      <hr>
      Accelerated project development <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Post your project <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Get connected with top freelancers <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Start project development <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Complete project development <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      Manage the end to end project development cycle of your project <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      It doesn't get any easier than this for project owners <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
      <hr>
      <br><br><br><br>
      <a href="{% url 'signup' %}" class="btn btn-info btn-banner2">Post A Project</a>
      
            </div>
        </div>
         
     </div>
 </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">

    <div class="card mb-3" style="max-width: 100%;border-radius: 20px;">
        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <h2>Freelancers <i class="fa fa-edit" style="font-size:35px;color:#13B5FA"></i></h2>
                     <hr>
                    Work on websites & app jobs <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Work on data entry jobs <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Work on marketing jobs <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Work on writing and transcription jobs <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Also have a wordpress blog/podcast? We got you covered <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    No more 'why is my blog not attracting more user views' <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    Promote your blog and podcasts as your skill<i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                   Get the right users everytime<i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
                    <hr>
                    <a href="{% url 'signup' %}" class="btn btn-info btn-banner2">Start Working</a>
                </div>
            </div>

            
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <div class="card mb-3" style="max-width: 100%;border-radius: 20px;">
        <div class="card-body">
           <div class="row">
   
               <div class="col text-center">
         <h2>Small Businesses<i class="fa fa-cart-plus" style="font-size:35px;color:#13B5FA"></i></h2>
         <hr>
           No more 'dm for price' <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           No need to have a different online store for each product you sell <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Add your existing social media <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Add your existing website <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Add your existing online store <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Easily integrate with your existing online presence<i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Kenyans shop with businesses working with us daily <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           Drive word-of-mouth traffic with quality engagement to your business. <i class="fa fa-check" style="color: #13B5FA;font-size: 19px;"></i>
           <hr>
           
           <a href="{% url 'signup' %}" class="btn btn-info btn-banner2">Grow my business</a>
               
   
       </div>
   </div>
   
        </div>
    </div>
   
   </div>
</div>
<div id="accordion">

    <div class="card">
      <div class="card-header">
          <b>
        <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: grey;">
         For small businesses, True, native engagement that gets results
        </a>
    </b>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body" style="font-size: medium;">
            Over 1.8 million businesses remain unseen in Kenya every year - don't pay for something that doesn't get results. We offer only highly effective native engagement to your business with 100% viewability.
        </div>
      </div>
    </div>
  
    <div class="card">
        <div class="card-header">
            <b>
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color: grey;">
           Why other Ad platforms don't work?
          </a>
      </b>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            EclidWorkers offers an innovative approach that actually gets results.
            We let you go to the customers directly.
          </div>
        </div>
      </div>
    
  
  </div>
   <br>
  <h2 style="text-align: center;">Our users love us. See for yourself.</h2>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <br>
  <div class="card mb-3" style="max-width: 100%;border-radius: 20px;">
    <div class="card-body">
        <div class="card-text" style="font-size: 14px;">
         <strong >"All jobs i worked on were attached with my posted business and posted skills.</strong>I did email forwarding on a project and the following week the project owner called me asking to buy one of the suits i had posted on my business.I never thought <strong>an employer could also be a paying client in my business</strong> <strong>" <br><br> Sara K, <br> Business Owner.</strong>
        </div>
    </div>
  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <br>
<div class="card mb-3" style="max-width: 100%;border-radius: 20px;" >
<div class="card-body">
    <div class="card-text" style="font-size: 14px;">
      <strong>"What I especially like about EclidWorkers is that there is a wide selection of jobs.</strong>I specialize in social media marketing and EclidWorkers help me a lot. EclidWorkers works great for both project owners and working talent.<strong>"  <br><br><br><br> Njogu M, <br> Social Media Marketing Freelancer.</strong>
    </div>
</div>
</div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <br>
<div class="card mb-3" style="max-width: 100%;border-radius: 20px;" >
<div class="card-body">
    <div class="card-text" style="font-size: 14px;">
      <strong>"EclidWorkers improved project development drastically.I got access to top working talent.</strong>It helped a lot during this pandemic when most projects were expected to go on hold.We never had to put any project on hold,thanks to EclidWorkers.<strong>"  <br><br><br> Jerop S, <br> Project Owner.</strong>
    </div>
</div>
</div>
</div>



</div>
</div>



<br><br>
<section class="cta_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="cta_text text-center">
                    <br><br><br>
                    <h2>Working solutions for Project Owners,Freelancers and Small Businesses.</h2>
                    <p>For Project Owners,Freelancers and Small businesses,it doesn't get any easier than this.
                        <br>
                        Get started with us and let us do all the heavy lifting for you.
                    </p>
                        <div class="row">
                            <div class="col text-center">
                    <a href="{% url 'signup' %}" class="btn btn-lg btn-banner1">Get Started </a>
                    <a href="{% url 'login' %}" class="btn btn-light btn-lg btn-banner2">Login</a>
                            </div>
                        </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</section>
<br>


<script src="../../static/js/contact.js"></script>
{% endblock %}