{%extends 'base.html'%}
{% load bootstrap4 %}
{% load mathfilters %}
{% load static %}
{% block content %}
{{block.super}}
<head>
  <link rel="stylesheet" href="../../static/css/custom.css">
  </head>
  
<div class="container">
  <div class="btn-group float-right" >
   
    <a href="#" class="btn btn-info btn-sm" style="background-color: #2BC6FA;">Sort by:</a>
    <a href="{% url 'job-page' %}" class="btn btn-info btn-sm" style="background-color: #2BC6FA;">Recent</a>
    <a href="{% url 'job-sort'  %}" class="btn btn-info btn-sm" style="background-color: #2BC6FA;">Highest paying</a>
  </div>
<br><br>
</div>
{% for job in available_jobs %}

<div class="container">
 
  <div class="card mb-3 align-item-xl-center">
          <div class="card-body">
           <b> <p class="card-text float-right"><span class="badge badge-info" style="background-color: #2BC6FA;"><i class="fa fa-bell-o" style="color:#ffff"></i>{{job.job_completion}}% complete</span></p></b>
        <b> <p class="card-text">{{job.job_title}}</p> </b>
         <b>  <p class="card-text float-right text-secondary">{{job.lower_limit|mul:100.0}}-{{job.upper_limit|mul:100.0}} KES/hr</p></b>
           <b><p class="card-text text-secondary"><i class="fa fa-money"></i> {{job.lower_limit}} - {{job.upper_limit}} <i class="fa fa-dollar"></i>/hr</p></b>
            <a href="{% url 'bid-job' job.slug %}" class="stretched-link"></a>
          </div>
       
      </div>
   
   
  </div>
  
{% endfor %}
<div class="container">
  <br>
<div class="pagination">
  <b>
  <span class="step-links">
      {% if available_jobs.has_previous %}
          <a href="?page=1">&laquo; First</a>
          <a href="?page={{ available_jobs.previous_page_number }}">Previous</a>
      {% endif %}

     

      {% if available_jobs.has_next %}
          
          <a href="?page={{ available_jobs.paginator.num_pages }}">Last &raquo;</a>
          <a href="?page={{ available_jobs.next_page_number }}">Next</a>
      {% endif %}
  </span>
  </b>
</div>
</div>
{% endblock %}