{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<head>
    <link rel="stylesheet" href="../../static/css/custom.css">
    </head>
<div class="container">
  <strong><h1 style="text-align: center;" >Find what works best for you</h1></strong>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <u><h4 style="text-align: center;">Business solution</h4></u>
                <br>
                <b>          
                <h6>This is optimised for any projects that need working on.</h6>
                <hr>
                Works for businesses with projects <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
                <hr>
                Works for personal projects <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
                <hr>
                Fast track your project development <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
                <hr>
                Candidates that match your project requirements <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
                <hr>
                Manage the end to end development cycle of your project <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
                </b>
                <hr>
                <div class="row">
                    <div class="col text-center">
                <a href="{% url 'post-job'  %}">
                
                    <button class="btn btn btndis" type="button">Get Started</button>
                    </a>
                </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
<br>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
               <u><h4 style="text-align: center;">Promote Business</h4></u>
               <br>
                <b>          
                <h6>Works for anyone that needs ecommerce solutions.</h6>
                <hr>
                Optimised for online businesses and online stores <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
                <hr>
                Grow and expand your online business <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
                <hr>
               Solution to boost your online traffic <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
               <hr>
               Use an existing online store or site <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
               <hr>
               Hire talent in the ecommerce space <i class="fa fa-check" style="color: lawngreen;font-size: 19px;"></i>
               <br>
                <hr>
                <div class="row">
                    <div class="col text-center">
                <a href="{% url 'digital-media'  %}">
                    <button class="btn btn btndis" type="button">Get Started</button>
                    </a>
                </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}